* {
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
  width: 50px;
}

.generate {
  display: flex;
  justify-content: space-around;
  width: 300px;
  align-items: center;
}

.grid {
  display: flex;
}

.centering {
  text-align: center;
}

button {
  border: none;
  padding: 5px 10px;
  font-size: large;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

.cell {
  margin: 1px;
  width: 18px;
  height: 18px;
  border-radius: 2px;
}

kbd {
  border-radius: 3px;
  padding: 2px 5px;
  font-family: monospace;
}

.cell {
  background-color: rgb(241, 241, 241);
}

.cell.painted {
  background-color: red;
}

#get-btn {
  background-color: rgb(50, 136, 50);
  color: white;
}

body {
  color: rgb(82, 81, 81);
}

kbd {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

input {
  padding: 5px;
}

@media (prefers-color-scheme: dark) {
  .cell {
    background-color: rgb(60, 60, 60);
  }

  .cell.painted {
    background-color: #ab0000;
  }

  button {
    background: none;
    border: 1px solid #a0a0a0;
    color: inherit;
  }

  #get-btn {
    background-color: rgb(40, 126, 40);
    color: #f0f0f0;
  }

  body {
    background-color: rgb(82, 81, 81);
    color: #f0f0f0;
  }

  kbd {
    background: none;
    color: inherit;
    border: 1px solid #a0a0a0;
  }

  input {
    background: none;
    color: inherit;
    border: 1px solid #a0a0a0;
  }
}
